*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
*.log

# Design / Temporary Markdown Files
UI_/
hata*.md
feed-back*.md
En son nerede kaldım.md
